<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/support.css" />
</head>
<body>
<div id="app">
    <header>
        <div class="title">Archive Data Source</div>
        <div class="nav">
            <a href="./home.html">Home</a>
            <a href="./archive.html">Archive</a>
            <a class="active" href="./support.html">Support</a>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="content-title">Sound  capture  device</div>
            <div class="content-image">
                <div class="content-image-nav">
                    <div :class="imgIndex1 === 0 ? 'active' : ''" @click="imgIndex1 = 0">operation photos</div>
                    <div :class="imgIndex1 === 1 ? 'active' : ''" @click="imgIndex1 = 1">schematic</div>
                </div>
                <div class="content-image-img">
                    <img src="./img/support/1.png" alt="">
                </div>
            </div>
            <img v-if="imgIndex2 === 0" class="content-image-left" src="./img/arrow.png" alt="">
            <img v-else class="content-image-left disabled" src="./img/arrow-disabled.png" alt="">

            <img v-if="imgIndex2 === 0" class="content-image-right" src="./img/arrow.png" alt="">
            <img v-else class="content-image-right disabled" src="./img/arrow-disabled.png" alt="">
        </div>
        <div class="content">
            <div class="content-title">register  button</div>
            <div class="content-image">
                <div class="content-image-nav">
                    <div :class="imgIndex2 === 0 ? 'active' : ''" @click="imgIndex2 = 0">operation photos</div>
                    <div :class="imgIndex2 === 1 ? 'active' : ''" @click="imgIndex2 = 1">schematic</div>
                </div>
                <div class="content-image-img">
                    <img src="./img/support/1.png" alt="">
                </div>
            </div>
            <img v-if="imgIndex2 === 10" class="content-image-left" src="./img/arrow.png" alt="">
            <img v-else class="content-image-left disabled" src="./img/arrow-disabled.png" alt="">

            <img v-if="imgIndex2 === 10" class="content-image-right" src="./img/arrow.png" alt="">
            <img v-else class="content-image-right disabled" src="./img/arrow-disabled.png" alt="">
        </div>
    </main>
</div>

<script src="./js/vue-2.7.12.js"></script>
<script>
	new Vue({
		data() {
			return {
				tab1: 0,
				imgIndex1: 0,
                imgList1: [
					[],
                    []
                ],
				tab2: 0,
				imgIndex2: 0,
				imgList2: [
					[],
					[]
				]
			}
		},
		computed: {},
		mounted () {
			// this.screenAuto()
			// window.onresize = () => this.screenAuto()
		},
		deleted () {
			window.onresize = null;
		},
		methods: {
			screenAuto () {
				const designDraftWidth = 1920;//设计稿的宽度
				const designDraftHeight = 960;//设计稿的高度
				//根据屏幕的变化适配的比例
				const scale = document.documentElement.clientWidth / document.documentElement.clientHeight < designDraftWidth / designDraftHeight ?
					(document.documentElement.clientWidth / designDraftWidth) :
					(document.documentElement.clientHeight / designDraftHeight);
				//缩放比例
				document.querySelector('#app').style.transform = `scale(${scale}) translate(-50%)`;
			}
		}
	}).$mount("#app")
</script>

</body>
</html>
